<!DOCTYPE html>
<html>
<head>
    <title>Gym-Service</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Teste GET , POST and PATCH by ID</h2>
    <p><%= perfilVar[0].cpf_usuario %></p>
    <p><%= perfilVar[0].nomecompleto %></p>
    <p><%= perfilVar[0].telefone %></p>
    <p><%= perfilVar[0].peso %></p>
    <p><%= perfilVar[0].altura %></p>
    <p><%= perfilVar[0].nome_modalidade %></p>
    <p><%= perfilVar[0].valor %></p>
</body>
</html>