<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Treinos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .btn{
            margin-right: 10px;
            margin-bottom: 10px;
        }
       
    </style>
    <script>
        /*angular.module("listaTreinos", []);
        angular.module("listaTreinos").controller("listaTreinosCtrl", 
        function($scope, $http){
            $scope.app = "Lista de Treinos";
            $scope.treinos = [];
            var carregarTreinos = function() {
                $http.get("localhost:4200/treinos").then(function (response) {
                     $scope.treino = response.data;
                }).catch(function (response) {
                    $scope.message = "aconteceu um erro: " + response;
                });
                    
            };
        
            carregarTreinos();
        });*/

        function mostraPeito() {
        var x = document.getElementById("mostrarPeito");
        if (x.style.display === "none") {
            document.location = "/exercicios/1";
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        //window.location = "http://localhost/"
        } 

        function postTreinos(){
            var x = document.getElementById("xyz");

            

        }
    </script>

</head>
<body ng-controller="listaTreinosCtrl">
    <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Gym Service</h1> 
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    
                    <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>                        
                                </button>
                                <a class="navbar-brand" href="#">Treinos</a>
                              </div>
                              <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                  <li>
                                    <a href="/usuarios/1/exercicios">Segunda</a>
                                  </li>
                                  <li><a href="#">Terça</a></li>
                                  <li><a href="#">Quarta</a></li>
                                  <li><a href="#">Quinta</a></li>
                                  <li><a href="#">Sexta</a></li>
                                  <li><a href="#">Sábado</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                </ul>
                              </div>
                            </div>
                          </nav>
            </div>           
    </div>
    <div class="container">
        <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Id do treino</th>
                            <th>Nome do treino</th>
                            <th>Exercicios</th>
                            <th>Dia</th>
                            <th>Repetições</th>
                            <th>Series</th>
                            <th>Descanso</th>

                        </tr>
                        <tr>
                            <td>{{treino.exercicios}}</td> 
                            <td>{{treino.dia}}</td>
                            <td>{{treino.repeticoes}}</td>
                            <td>{{treino.series}}</td>
                            <td>{{treino.descanso}}</td>
                        
                        </tr>
                    </table>
                    <div>
                        <p>Escolha seu treino:</p>
                        <button onclick="mostraPeito()" type="button" class="btn btn-primary">Treino de Peito</button>
                        <button onclick="mostraCostas" type="button" class="btn btn-primary">Treino de Costas</button>
                        <button onclick="mostraPernas" type="button" class="btn btn-primary">Treino de Pernas</button>
                        <button onclick="mostraBiceps" type="button" class="btn btn-primary">Treino de Biceps</button>
                        <button onclick="mostraTriceps" type="button" class="btn btn-primary">Treino de Triceps</button>
                        <button onclick="mostraOmbros" type="button" class="btn btn-primary">Treino de Ombros</button>
                        <button onclick="mostraAbdominal" type="button" class="btn btn-primary">Treino de Abdominal</button>


                    </div>
                    <div class="container"id="mostrarPeito">
                        <div class="row">
                            <table>
                                    <tr>
                                        <td>|ID|</td>
                                        <td>|ID do Treino|</td>
                                        <td>|Nome do Treino|</td>
                                        <td>|ID do Exercicio|</td>
                                        <td>|Nome do Exercicio|</td>
                                    </tr>
                                        <%for(var i=0; i<treinoExerc.length; i++){ %>
                                            <tr>
                                            <td><%= treinoExerc[i].id %></td> 
                                            <td><%= treinoExerc[i].id_treino %></td>
                                            <td><%= treinoExerc[i].nomeTreino %></td>
                                            <td><%= treinoExerc[i].id_exercicio %></td>
                                            <td> <a onclick="postTreino()"><%= treinoExerc[i].nomeExercicio %></a>
                                            </td>
                                            </tr>
                                        <% } %>
                                
                                </table> 
                        </div>
                        

                    </div>
                
                </div>
                <div class="col-lg-1"></div>
        </div>
    </div>
    
</body>
</html>


<!--
<div class="container-fluid">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 576px wide.</p>
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
    <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
    <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
    <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>
  </div>
</div>
<nav class="navbar-expand-md bg-dark navbar-dark">
                        
                        <a class="navbar-brand" href="#">Treinos</a>
                        
                       
                        <ul class="navbar-nav navbar-expand-md ">
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary">Segunda-Feira</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary">Terça-Feira</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary">Quarta-Feira</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary">Quinta-Feira</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary">Sexta-Feira</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-secondary">Sábado</button>
                            </li>
                        </ul>
                    </nav>
-->