<!DOCTYPE html>
<html>
<head>
    <title>Gym-Service</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Teste GET ALL TREINOS E SEUS EXERCICIOS</h2>
 
<table>
    <tr>
        <td>|ID|-------</td>
        <td>|ID do Treino|-------</td>
        <td>|Nome do Treino|-------</td>
        <td>|ID do Exercicio|-------</td>
        <td>|Nome do Exercicio|-------</td>
    </tr>
        <%for(var i=0; i<treinoExerc.length; i++){ %>
         <tr>
            <td><%= treinoExerc[i].id %></td> 
            <td><%= treinoExerc[i].id_treino %></td>
            <td><%= treinoExerc[i].nomeTreino %></td>
            <td><%= treinoExerc[i].id_exercicio %></td>
            <td><%= treinoExerc[i].nomeExercicio %></td>
         </tr>
       <% } %>

</table>




</body>
</html>