<!DOCTYPE html>
<html>
<head>
    <title>Gym-Service</title>
    <meta charset="UTF-8">
    <style type="text/css">
        table,th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2>Tela de treinos do usuário</h2>

    <p>User: <%= treino_usuario[0].nomecompleto %></p>

    <p>Treino de <%= treino_usuario[0].nome_dia %></p>

    <%for(var i=0;i<treino_usuario.length; i++) { %>
    <table>
        <tr>
            <th colspan = "6"><%= treino_usuario[i].nomeTreino %></th>
        </tr>

        <tr>
            <th>Id Exercício do Usuário</th>
            <th>Nome Exercício</th>
            <th>Peso</th>
            <th>Repetições</th>
            <th>Séries</th>
            <th>Descanso</th>
        </tr>

        <tr>
            <td><%= treino_usuario[i].id %></td>
            <td><%= treino_usuario[i].nomeExercicio %></td>
            <td><%= treino_usuario[i].peso %></td>
            <td><%= treino_usuario[i].repeticoes %></td>
            <td><%= treino_usuario[i].series %></td>
            <td><%= treino_usuario[i].descanso %></td>
        </tr>


    </table>
    <br><br>
    <% } %>
</body>
</html>