<!DOCTYPE html>
<html>
<head>
    <title>Gym-Service</title>
    <meta charset="UTF-8">
    <style type="text/css">
        table,th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2>Tela de treinos do usuário</h2>

    <p>User: <%= treino_usuario[0].nomecompleto %></p>
    <table>
        <caption>Treino</caption>
        <tr>
            <th colspan = "6"><%= treino_usuario[0].nomeTreino %></th>
        </tr>

        <tr>
            <th colspan = "6"><%= treino_usuario[0].nome_dia %></th>
        </tr>

        <tr>
            <th>Id Exercício</th>
            <th>Nome Exercício</th>
            <th>Peso</th>
            <th>Repetições</th>
            <th>Séries</th>
            <th>Descanso</th>
        </tr>
        <%for(var i=0;i<treino_usuario.length; i++) { %>
        <tr>
            <td><%= treino_usuario[i].id %></td>
            <td><%= treino_usuario[i].nomeExercicio %></td>
            <td><%= treino_usuario[i].peso %></td>
            <td><%= treino_usuario[i].repeticoes %></td>
            <td><%= treino_usuario[i].series %></td>
            <td><%= treino_usuario[i].descanso %></td>
        </tr>

        <% } %>
    </table>
</body>
</html>